!!!5
%head
  %meta{charset: 'UTF-8'}
  %title Hello!

%script{src: 'javascript/bundle.js'}

%form{style: 'float:right;'}
  %select
    %option Inventory
    %option Equips
    %option Special Moves
    %option Stats
    %option Options
