!!!5
%head
  %meta{charset: 'UTF-8'}
  %title Unibabies
  %link{rel: 'stylesheet', type: 'text/css', href: '/styles/styles.css'}

%body
  .container
    .left-column
      %p#speech
      .vital_info_container
        %p.vital_info Normal Town
        %p.vital_info Item: Bow
        %p.vital_info $1234
    #thegame
    .right-column
      %form
        %select
          %option Inventory
          %option Equips
          %option Status
          %option Options

%script{src: 'javascript/bundle.js'}
